.lecture {
    padding-bottom: 30px !important;
}

.verse {
    padding-left: 15px;
    padding-right: 15px;
    border-left: solid;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive, 'Times New Roman', Times, serif;
    font-size: 200% !important;
    margin-top: 10px !important;
    color: rgba(153, 153, 153, 1) !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #2980b9 !important;
    background-color: transparent !important;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #2980b9 !important;
    background-color: transparent !important;
    border-bottom: 4px solid !important;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(153, 153, 153, 1) !important;
    border-bottom: 1px solid;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
}

h3 {
    font-family: 'Vollkorn', serif, 'Times New Roman', Times, serif !important;
    font-style: italic;
    font-weight: 400 !important;
    color: rgba(153, 153, 153, 1) !important;
}

p {
    font-family: 'Vollkorn', serif, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 150%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.questions {
    font-family: 'Great Vibes', cursive, 'Times New Roman', Times, serif;
    font-size:300%;
}

.lecture-title {
    font-family: 'Great Vibes', cursive, 'Times New Roman', Times, serif;
    font-size: 450%;
}

.lecture-subtitle {
    font-family: 'Vollkorn', serif, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.bottom-page-navigation {
    font-family: 'Vollkorn', serif, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}

.backToTop {
    font-size: 50px;
    position: fixed;
    right: 10%;
    bottom: 5%;
    z-index: 2;
    color: #bdc3c7 !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); 
}

.backToTop:hover {
    color: #2980b9 !important;
}

.footer {
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding-top:17px;
  background-color: #f8f8f8;
  font-size: 75%;
  font-style: italic;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.modal.visible {
    opacity: 1;
    visibility: visible;
}

.transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}

.transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-2%);
    height: 100%;
    width: 2500%;
    background: url(../img/ink-blue.png) no-repeat 0 0;
    background-size: 100% 100%;
}